 .u-section-1 {
  background-image: none;
  min-height: 44px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 414px);
  margin: 10px auto 10px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 3px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 4px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 3px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 414px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 120px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 414px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 414px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-top: 0;
    margin-bottom: -57px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 62px;
  }
} .u-section-2 {
  min-height: 664px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2)  + 1195px);
  height: 228px;
  margin: 192px calc(((100% - 1140px) / 2)  + -55px) 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -371px auto 51px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 560px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-gallery-1 {
  height: 500px;
  width: 548px;
  margin: 0 30px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding: 0;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 55px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 5px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 560px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 0 5px;
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 30px 5px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px auto 0 5px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 214px 0 0 auto;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 566px;
  }

  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-2 .u-gallery-1 {
    width: 501px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 480px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-gallery-1 {
    width: 384px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 780px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-top: 492px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -670px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 773px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 485px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -663px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 399px;
}

.u-section-3 .u-text-1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.u-section-3 .u-list-1 {
  margin-bottom: -47px;
  margin-top: 5px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 200px;
  grid-gap: 20px;
}

.u-section-3 .u-list-item-1 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  text-transform: none;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 30px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  text-transform: none;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-3 .u-text-10 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-top: 120px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 164px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-top: 129px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 403px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 5px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 5px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 118px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 1124px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    margin-top: 129px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}