 .u-section-1 {
  background-image: none;
  min-height: 44px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 414px);
  margin: 10px auto 10px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 3px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 4px auto 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 3px auto 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 24px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 414px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 120px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 414px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 414px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-top: 0;
    margin-bottom: -57px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 62px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 62px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 66px;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 66px;
  grid-auto-columns: 14.2857%;
  grid-template-columns: repeat(7, 14.2857%);
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 0 0 6px;
  padding: 10px 55px;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 0 0 6px;
  padding: 10px 55px;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-btn-3 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 0 0 6px;
  padding: 10px 55px;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-2 .u-btn-4 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 0 0 6px;
  padding: 10px 55px;
}

.u-section-2 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-btn-5 {
  --radius: 50px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 0 0 0 6px;
  padding: 10px 55px;
}

.u-section-2 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --radius: 5px;
  margin: 0 0 0 6px;
  padding: 10px 55px;
}

.u-section-2 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --radius: 5px;
  margin: 0 0 0 6px;
  padding: 10px 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 54px;
    grid-auto-columns: 14.285714285714286%;
    grid-template-columns: repeat(7, 14.285714285714286%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-btn-2 {
    --radius: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 57px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 57px;
    grid-auto-columns: 14.2857%;
    grid-template-columns: repeat(7, 14.2857%);
  }

  .u-section-2 .u-btn-1 {
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-2 .u-btn-2 {
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-2 .u-btn-3 {
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-2 .u-btn-4 {
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-2 .u-btn-5 {
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-2 .u-btn-6 {
    padding-right: 28px;
    padding-left: 27px;
  }

  .u-section-2 .u-btn-7 {
    padding-right: 28px;
    padding-left: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 114px;
    grid-auto-columns: 20%;
    grid-template-columns: repeat(5, 20%);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 188px;
    grid-auto-columns: calc(50% - 2.5px);
    grid-template-columns: repeat(2, calc(50% - 2.5px));
    margin-top: 0;
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 3px 6px;
  }

  .u-section-2 .u-btn-1 {
    padding-right: 55px;
    padding-left: 54px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 3px 6px;
  }

  .u-section-2 .u-btn-2 {
    padding-right: 55px;
    padding-left: 54px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 3px 6px;
  }

  .u-section-2 .u-btn-3 {
    padding-right: 55px;
    padding-left: 54px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 3px 6px;
  }

  .u-section-2 .u-btn-4 {
    padding-right: 55px;
    padding-left: 54px;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 3px 6px;
  }

  .u-section-2 .u-btn-5 {
    padding-right: 55px;
    padding-left: 54px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 3px 6px;
  }

  .u-section-2 .u-btn-6 {
    padding-right: 55px;
    padding-left: 54px;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 3px 6px;
  }

  .u-section-2 .u-btn-7 {
    padding-right: 55px;
    padding-left: 54px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1247px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-form-1 {
  height: 70px;
  width: 570px;
  margin: 20px auto 0;
}

.u-section-3 .u-form-group-1 {
  margin-left: 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(2, auto);
  margin: 20px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 927px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-3 .u-image-1 {
  width: 229px;
  height: 229px;
  background-image: url("/images/79d97b44da3f640cdbb46e0efec900091eec26d75772df4f5d18181b5e664a62e497a60f2709c672cace4d2581b088e156ebbbf9a6395705ea29de_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-1 {
  width: 257px;
  min-height: 229px;
  height: auto;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-2 {
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-3 .u-image-2 {
  width: 229px;
  height: 229px;
  background-image: url("/images/79d97b44da3f640cdbb46e0efec900091eec26d75772df4f5d18181b5e664a62e497a60f2709c672cace4d2581b088e156ebbbf9a6395705ea29de_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-2 {
  width: 257px;
  min-height: 229px;
  height: auto;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-3 .u-image-3 {
  width: 229px;
  height: 229px;
  background-image: url("/images/79d97b44da3f640cdbb46e0efec900091eec26d75772df4f5d18181b5e664a62e497a60f2709c672cace4d2581b088e156ebbbf9a6395705ea29de_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-3 {
  width: 257px;
  min-height: 229px;
  height: auto;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-8 {
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-3 .u-image-4 {
  width: 229px;
  height: 229px;
  background-image: url("/images/79d97b44da3f640cdbb46e0efec900091eec26d75772df4f5d18181b5e664a62e497a60f2709c672cace4d2581b088e156ebbbf9a6395705ea29de_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-4 {
  width: 257px;
  min-height: 229px;
  height: auto;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-11 {
  margin: 0;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-3 .u-image-5 {
  width: 229px;
  height: 229px;
  background-image: url("/images/79d97b44da3f640cdbb46e0efec900091eec26d75772df4f5d18181b5e664a62e497a60f2709c672cace4d2581b088e156ebbbf9a6395705ea29de_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-5 {
  width: 257px;
  min-height: 229px;
  height: auto;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-14 {
  margin: 0;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  --radius: 20px;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 40px;
}

.u-section-3 .u-image-6 {
  width: 229px;
  height: 229px;
  background-image: url("/images/79d97b44da3f640cdbb46e0efec900091eec26d75772df4f5d18181b5e664a62e497a60f2709c672cace4d2581b088e156ebbbf9a6395705ea29de_1280.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-group-6 {
  width: 257px;
  min-height: 229px;
  height: auto;
  margin: -229px 0 0 auto;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 0 20px 25px;
}

.u-section-3 .u-text-17 {
  margin: 0;
}

.u-section-3 .u-text-18 {
  font-weight: 700;
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-19 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
    margin-top: 264px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 771px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-1 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-1 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-2 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-2 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-3 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-3 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-4 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-4 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-5 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-5 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-image-6 {
    width: 183px;
    height: 183px;
  }

  .u-section-3 .u-group-6 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-1 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-2 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-2 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-3 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-4 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-5 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-5 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-6 {
    width: 243px;
    height: 243px;
  }

  .u-section-3 .u-group-6 {
    width: 397px;
    margin-top: -243px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-form-1 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 264px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-1 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-2 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-2 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-3 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-3 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-4 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-4 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-5 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-5 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-15 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-6 {
    width: 214px;
    height: 214px;
  }

  .u-section-3 .u-group-6 {
    width: 257px;
    margin-top: -214px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-18 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 236px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 158px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-3 .u-group-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-2 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-3 .u-group-2 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-3 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-3 .u-group-3 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-4 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-3 .u-group-4 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-12 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-5 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-3 .u-group-5 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-15 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-6 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-3 .u-group-6 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-18 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }
}