<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">

	<footer class="u-clearfix u-footer u-grey-80" id="footer">
		<div class="u-clearfix u-sheet u-sheet-1">
			<div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
				<div class="u-gutter-0 u-layout">
					<div class="u-layout-row">
						<div class="u-align-left u-container-style u-image u-image-contain u-layout-cell u-size-19 u-image-1">
							<div class="u-container-layout u-container-layout-1"><!--position-->
								<div data-position="" class="u-position u-position-1"><!--block-->
									<div class="u-block">
										<div class="u-block-container u-clearfix">
											<img th:src="@{/images/ci_white.png}" class="u-logo-image u-logo-image-1" style="width: 300px; height: 150px;">
										</div>
									</div><!--/block-->
								</div><!--/position-->
							</div>
						</div>
						<div class="u-align-left u-container-style u-layout-cell u-size-41 u-layout-cell-2">
							<div class="u-container-layout u-container-layout-2">
								<h6 class="u-text u-text-default u-text-1">홀씨네 사물함</h6>
								<p class="u-custom-font u-text u-text-default u-text-2">사업자 등록번호<br>사업장
									소재지<br>이메일<br>전화번호<br>(고객센터 업무시간 : 평일 9시부터 오후 6시까지 / 공휴일, 토, 일요일 휴무)
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="u-align-left u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-25 u-line-1">
			</div>
			<p class="u-align-center u-small-text u-text u-text-variant u-text-3">홀씨네 사물함 / 개인정보 처리방침 / 사이트 이용약관</p>
		</div>
	</footer>

</th:block>

</html>