<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="js">
    <!-- Include jQuery -->
	<script class="u-script" type="text/javascript" th:src="@{/js/jquery.js}" defer=""></script>
    <!-- Include nicepage.js -->
    <script class="u-script" type="text/javascript" th:src="@{/js/nicepage.js}" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{/js/utils.js}" defer=""></script>
    <script class="u-script" type="text/javascript" th:src="@{/js/intlTelInput.min.js}" defer=""></script>
</th:block>

</html>
