<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block th:replace="~{fragments/head :: head}"></th:block>

  <link rel="stylesheet" th:href="@{/css/how.css}" media="screen">

</head>

  <body
    data-path-to-root="/"
    data-include-products="false"
    class="u-body u-xl-mode"
    data-lang="en"
  >
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <section class="u-clearfix u-grey-80 u-hidden-md u-hidden-sm u-hidden-xs u-section-1" id="breadcrum">
      <div class="data-layout-selected u-clearfix u-gutter-0 u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-align-center u-container-style u-layout-cell u-size-12 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <p class="u-align-center u-small-text u-text u-text-default u-text-variant u-text-1">홈 </p>
              </div>
            </div>
            <div class="cell-temp-clone u-container-style u-layout-cell u-size-12 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                <p class="u-small-text u-text u-text-default u-text-variant u-text-white u-text-2"><span class="u-file-icon u-icon u-text-white"><img src="/images/7.png" alt=""></span>&nbsp;
                </p>
              </div>
            </div>
            <div class="cell-temp-clone u-container-style u-layout-cell u-size-12 u-layout-cell-3">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-3">
                <p class="u-align-center u-small-text u-text u-text-default u-text-variant u-text-3">나의 사물함 </p>
              </div>
            </div>
            <div class="cell-temp-clone u-container-style u-layout-cell u-size-12 u-layout-cell-4">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-4">
                <p class="u-small-text u-text u-text-default u-text-variant u-text-white u-text-4"><span class="u-file-icon u-icon u-text-white"><img src="/images/7.png" alt=""></span>&nbsp;
                </p>
              </div>
            </div>
            <div class="cell-temp-clone u-container-align-center u-container-style u-layout-cell u-size-12 u-layout-cell-5">
              <div class="u-container-layout u-valign-middle u-container-layout-5">
                <p class="u-align-center u-small-text u-text u-text-default u-text-variant u-text-5">맡기기</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-8a61">
      <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="u-expanded-width u-tabs u-tabs-1">
          <ul class="u-border-1 u-border-grey-25 u-tab-list u-unstyled" role="tablist"><li class="u-tab-item" role="presentation"><a class="active u-active-white u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-tab-link u-text-active-palette-1-base u-tab-link-1" id="link-tab-0da5" href="#tab-0da5" role="tab" aria-controls="tab-0da5" aria-selected="true">Description</a>
</li><li class="u-tab-item" role="presentation"><a class="u-active-white u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-tab-link u-text-active-palette-1-base u-tab-link-2" id="link-tab-14b7" href="#tab-14b7" role="tab" aria-controls="tab-14b7" aria-selected="false">Specifications</a>
</li><li class="u-tab-item" role="presentation"><a class="u-active-white u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-tab-link u-text-active-palette-1-base u-tab-link-3" id="link-tab-2917" href="#tab-2917" role="tab" aria-controls="tab-2917" aria-selected="false">Reviews</a>
</li></ul>
          <div class="u-tab-content">
            <div class="u-container-style u-tab-active u-tab-pane u-white u-tab-pane-1" id="tab-0da5" role="tabpanel" aria-labelledby="link-tab-0da5">
              <div class="u-container-layout u-container-layout-1">
                <h4 class="u-text u-text-default u-text-1">Sample Headline</h4>
                <p class="u-text u-text-default u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <h4 class="u-text u-text-default u-text-3">Sample Headline</h4>
                <p class="u-text u-text-default u-text-4">Sample text. Click to select the text box. Click again or double click to start editing the text. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-tab-pane u-white u-tab-pane-2" id="tab-14b7" role="tabpanel" aria-labelledby="link-tab-14b7">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <p class="u-text u-text-default u-text-5">Sample text. Click to select the text box. Click again or double click to start editing the text. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<br>
                  <br>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.&nbsp;Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                </p>
              </div>
            </div>
            <div class="u-container-style u-tab-pane u-white u-tab-pane-3" id="tab-2917" role="tabpanel" aria-labelledby="link-tab-2917">
              <div class="u-container-layout u-valign-middle u-container-layout-3">
                <h4 class="u-text u-text-default u-text-6">Be The First To Review This Product!</h4>
                <p class="u-text u-text-default u-text-7">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                <a href="" class="u-btn u-button-style u-btn-1">write product review</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="skrollable u-align-center u-clearfix u-parallax u-section-3" id="pageTitle">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <th:block th:replace="~{fragments/js :: js}"></th:block>
  </body>
</html>