<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <th:block th:replace="~{fragments/head :: head}"></th:block>

  <link rel="stylesheet" th:href="@{/css/mylocker03.css}" media="screen">

</head>

  <body
    data-path-to-root="/"
    data-include-products="false"
    class="u-body u-xl-mode"
    data-lang="en"
  >
    <th:block th:replace="~{fragments/header :: header}"></th:block>
    <section class="u-clearfix u-grey-80 u-hidden-md u-hidden-sm u-hidden-xs u-section-1" id="sec-e0fd">
      <div class="data-layout-selected u-clearfix u-gutter-0 u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-align-center u-container-style u-layout-cell u-size-12 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <p class="u-align-center u-small-text u-text u-text-default u-text-variant u-text-1">홈 </p>
              </div>
            </div>
            <div class="cell-temp-clone u-container-style u-layout-cell u-size-12 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <p class="u-small-text u-text u-text-default u-text-variant u-text-white u-text-2"><span class="u-file-icon u-icon u-text-white"><img src="/images/7.png" alt=""></span>&nbsp;
                </p>
              </div>
            </div>
            <div class="cell-temp-clone u-container-style u-layout-cell u-size-12 u-layout-cell-3">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-3">
                <p class="u-small-text u-text u-text-default u-text-variant u-text-3">나의 사물함 </p>
              </div>
            </div>
            <div class="cell-temp-clone u-container-style u-layout-cell u-size-12 u-layout-cell-4">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-4">
                <p class="u-small-text u-text u-text-default u-text-variant u-text-white u-text-4"><span class="u-file-icon u-icon u-text-white"><img src="/images/7.png" alt=""></span>&nbsp;
                </p>
              </div>
            </div>
            <div class="cell-temp-clone u-container-align-center u-container-style u-layout-cell u-size-12 u-layout-cell-5">
              <div class="u-container-layout u-valign-middle-xs u-container-layout-5">
                <p class="u-align-center u-small-text u-text u-text-default u-text-variant u-text-5">맡기기</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="skrollable u-align-center u-clearfix u-parallax u-section-2" id="sec-a6eb">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-left u-text u-text-default u-text-1"><span class="u-file-icon u-icon"><img src="/images/9997770-10.png" alt=""></span>&nbsp;정산 정보 관리
        </h1>
      </div>
    </section>
    <section class="u-clearfix u-image u-section-3" id="carousel_2ad5" data-image-width="1280" data-image-height="854">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-align-center u-container-style u-expanded-width-xs u-group u-radius-50 u-shape-round u-white u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h2 class="u-align-center u-text u-text-1"> 내 정산 계좌</h2>
            <div class="u-expanded-width u-form u-form-1" id="carousel-a14a">
              <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                <div class="u-form-group u-form-select u-form-group-1">
                  <label for="select-04de" class="u-label">은행 명</label>
                  <div class="u-form-select-wrapper">
                    <select id="select-04de" name="select" class="u-input u-input-rectangle">
                      <option value="Item 1" data-calc="">Item 1</option>
                      <option value="Item 2" data-calc="">Item 2</option>
                      <option value="Item 3" data-calc="">Item 3</option>
                    </select>
                    <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                  </div>
                </div>
                <div class="u-form-group u-form-group-2">
                  <label for="text-4006" class="u-label">계좌번호</label>
                  <input type="text" id="text-4006" name="text" class="u-input u-input-rectangle">
                </div>
                <div class="u-form-group u-form-name">
                  <label for="name-5e64" class="u-label">예금주 명</label>
                  <input type="text" placeholder="{이름}" id="name-5e64" name="bankName" class="u-input u-input-rectangle" required="">
                </div>
                <div class="u-align-right u-form-group u-form-submit">
                  <a href="#" class="u-btn u-btn-submit u-button-style">변경</a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-746a">
      <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
        <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xs u-text-1">정산 내역 </h2>
        <div class="u-align-center u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-hidden-xs u-table u-table-responsive u-table-1">
          <table class="u-table-entity u-table-entity-1">
            <colgroup>
              <col width="13.6%">
              <col width="23.6%">
              <col width="21.4%">
              <col width="19%">
              <col width="22.4%">
            </colgroup>
            <thead class="u-align-center u-palette-1-base u-table-header u-table-valign-middle u-table-header-1">
              <tr style="height: 31px;">
                <th class="u-border-1 u-border-palette-1-base u-table-cell u-table-cell-1">순번 </th>
                <th class="u-border-1 u-border-palette-1-base u-table-cell">상태</th>
                <th class="u-align-center u-border-1 u-border-palette-1-base u-table-cell">정산 예정일</th>
                <th class="u-border-1 u-border-palette-1-base u-table-cell">정산 예정액 </th>
                <th class="u-border-1 u-border-palette-1-base u-table-cell"></th>
              </tr>
            </thead>
            <tbody class="u-table-body">
              <tr style="height: 75px;">
                <td class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-palette-1-base u-table-cell u-table-valign-middle u-table-cell-6">01</td>
                <td class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-palette-1-base u-table-cell"> 정산 예정</td>
                <td class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-palette-1-base u-table-cell">2024.05.01.</td>
                <td class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-palette-1-base u-table-cell"> 1,000 원</td>
                <td class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-palette-1-base u-table-cell">
                  <a class="u-active-none u-btn u-button-style u-dialog-link u-hover-palette-1-dark-1 u-palette-1-base u-btn-1" href="#takeDetailModal">거래 확인</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="u-align-center u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xl u-table u-table-responsive u-table-2">
          <table class="u-table-entity u-table-entity-2">
            <colgroup>
              <col width="17.8%">
              <col width="28%">
              <col width="24.9%">
              <col width="29.300000000000015%">
            </colgroup>
            <thead class="u-align-center u-palette-1-base u-table-header u-table-valign-middle u-table-header-2">
              <tr style="height: 29px;">
                <th class="u-border-1 u-border-palette-1-base u-table-cell u-table-cell-11">순번 </th>
                <th class="u-align-center u-border-1 u-border-palette-1-base u-table-cell">정산 예정일</th>
                <th class="u-border-1 u-border-palette-1-base u-table-cell">정산 예정액 </th>
                <th class="u-border-1 u-border-palette-1-base u-table-cell"></th>
              </tr>
            </thead>
            <tbody class="u-table-body">
              <tr style="height: 59px;">
                <td class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-palette-1-base u-table-cell u-table-valign-middle u-table-cell-15">01</td>
                <td class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-palette-1-base u-table-cell">2024.05.01.</td>
                <td class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-palette-1-base u-table-cell"> 1,000 원</td>
                <td class="u-align-center u-border-1 u-border-no-left u-border-no-right u-border-palette-1-base u-table-cell">
                  <a class="u-active-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2" href="#">거래 확인</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
    
    
    
    
    
    
    
    
    
    
    
    
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <th:block th:replace="~{fragments/js :: js}"></th:block>
    
  <section class="u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-middle u-dialog-section-8" id="takeDetailModal">
      <div class="u-align-center u-container-style u-dialog u-radius u-shape-round u-white u-dialog-1">
        <div class="u-container-layout u-valign-bottom u-container-layout-1">
          <h3 class="u-text u-text-default u-text-1">맡아준 내역 상세보기</h3>
          <div class="u-expanded-width-sm u-expanded-width-xs u-table u-table-responsive u-table-1">
            <table class="u-table-entity">
              <colgroup>
                <col width="41.7%">
                <col width="58.3%">
              </colgroup>
              <tbody class="u-custom-font u-table-body u-table-body-1">
                <tr style="height: 40px;">
                  <td class="u-border-2 u-border-grey-10 u-first-column u-palette-1-base u-table-cell u-table-cell-1">상태 </td>
                  <td class="u-border-2 u-border-grey-10 u-table-cell"> 찾아감</td>
                </tr>
                <tr style="height: 40px;">
                  <td class="u-border-2 u-border-grey-10 u-first-column u-palette-1-base u-table-cell u-table-cell-3">맡긴 사람 이름</td>
                  <td class="u-border-2 u-border-grey-10 u-table-cell">{김*명} </td>
                </tr>
                <tr style="height: 60px;">
                  <td class="u-border-2 u-border-grey-10 u-first-column u-palette-1-base u-table-cell u-table-cell-5"> 연락처</td>
                  <td class="u-border-2 u-border-grey-10 u-table-cell">
                    <a class="u-active-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-1" href="#">연락하기</a>
                  </td>
                </tr>
                <tr style="height: 60px;">
                  <td class="u-border-2 u-border-grey-10 u-palette-1-base u-table-cell u-table-cell-7"> 택배 도착 인증하기</td>
                  <td class="u-border-2 u-border-grey-10 u-table-cell">
                    <a class="u-active-none u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2" href="#">사진 촬영</a>
                  </td>
                </tr>
                <tr style="height: 50px;">
                  <td class="u-border-2 u-border-grey-10 u-first-column u-palette-1-base u-table-cell u-table-cell-9"> 택배 찾아간 날짜</td>
                  <td class="u-border-2 u-border-grey-10 u-table-cell"> {2020.00.00}</td>
                </tr>
                <tr style="height: 40px;">
                  <td class="u-border-2 u-border-grey-10 u-first-column u-palette-1-base u-table-cell u-table-cell-11">정산 예정 금액 </td>
                  <td class="u-border-2 u-border-grey-10 u-table-cell">{5,000} 원</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div><button class="u-dialog-close-button u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-efe9"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-efe9"><rect x="7" y="0" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="2" height="16"></rect><rect x="0" y="7" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -3.3138 8.0002)" width="16" height="2"></rect></svg></button>
      </div>
    </section><style>.u-dialog-section-8 .u-dialog-1 {
  width: 456px;
  --radius: 20px;
  height: auto;
  min-height: 424px;
  margin: 60px auto;
}

.u-dialog-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-dialog-section-8 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-dialog-section-8 .u-table-1 {
  width: 397px;
  height: 298px;
  margin: 30px 0 0;
}

.u-block-fd41-7 {
  font-size: 0.75rem;
}

.u-block-fd41-13 {
  height: 47px;
}

.u-dialog-section-8 .u-table-body-1 {
  font-size: 0.75rem;
  font-family: "Noto Sans KR";
}

.u-dialog-section-8 .u-table-cell-1 {
  font-size: 0.75rem;
}

.u-dialog-section-8 .u-table-cell-3 {
  font-size: 0.75rem;
}

.u-dialog-section-8 .u-table-cell-5 {
  font-size: 0.75rem;
}

.u-dialog-section-8 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-dialog-section-8 .u-table-cell-7 {
  font-size: 0.75rem;
}

.u-dialog-section-8 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-dialog-section-8 .u-table-cell-9 {
  font-size: 0.75rem;
}

.u-dialog-section-8 .u-table-cell-11 {
  font-size: 0.75rem;
}

.u-block-fd41-31 {
  height: 47px;
}

.u-dialog-section-8 .u-icon-1 {
  width: 20px;
  height: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-8 .u-text-1 {
    margin-top: 0;
  }

  .u-dialog-section-8 .u-table-1 {
    width: 396px;
  }
}

@media (max-width: 767px) {
  .u-dialog-section-8 .u-container-layout-1 {
    padding: 15px;
  }

  .u-dialog-section-8 .u-text-1 {
    width: auto;
    margin-right: auto;
    margin-left: 0;
  }

  .u-dialog-section-8 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-8 .u-dialog-1 {
    width: 340px;
  }

  .u-dialog-section-8 .u-container-layout-1 {
    padding-bottom: 15px;
  }
}</style>
</body></html>